<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.peninsulatrackclub.gensim"
        versionCode = "10" 
        version     = "1.0.2" >

    <!-- versionCode is optional and Android only -->

    <name>Generator Switchboard Simulator</name>

    <description>
        First Simulator App, for Android Tablets. 
    </description>

    <author href="http//peninsulatrackclub.com" email="theaellen@hotmail.com">
        Thea Ganoe
    </author>

  <gap:platform name="android" />
  <preference name="permissions" value="none" />
  
</widget>

  